<head>
</head>
<body>
  <% @bookmark_list.each do |bookmark| %>
    <p><%= bookmark %></p>
  <% end %>

  <form action='/bookmarks/new' method='get'>
    <input type='submit' value='Add new bookmark'/>
  </form>
</body>
