<head>
</head>
<body>
  <% @bookmark_list.each do |bookmark| %>
    <a href="<%= bookmark[0] %>"><%= bookmark[1] %></a><br><br>
  <% end %>

  <form action='/bookmarks/new' method='get'>
    <input type='submit' value='Add new bookmark'/>
  </form>
  <%= flash[:hello] %>

</body>
