<head>
</head>
<body>
  <form action='/bookmarks/new' method='post'>
    <input type='text' name='new_bookmark'/>
    <input type='text' name='title'/>
    <input type='submit' value='Submit'/>
  </form>
</body>
